<div
  class="bg-gray-800 text-white p-4 rounded-lg shadow-lg relative w-full h-auto"
>
  <img
    src="https://www3.animeflv.net/assets/animeflv/img/bgb.jpg"
    class="absolute top-0 left-0 right-0 w-full h-full object-cover rounded-lg"
  />
  <div class="absolute bottom-0 left-0 right-0 h-1 bg-[#01bcf3]"></div>
  <h1 class="relative text-2xl font-bold text-center">
    <strong>AnimeFLV</strong>
    <span class="font-bold text-gray-300">
      tu fuente de anime online gratis en HD</span
    >
  </h1>
</div>
