<footer class="bg-black border-gray-200 items-end">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >&copy; {new Date().getFullYear()}
      <a
        href="https://www3.animeflv.net/"
        class="hover:underline text-white font-bold"
        target="_blank"
        >Anime Online - Todos los derechos reservados.
      </a>- Ning&uacute;n v&iacute;deo se encuentra alojado en nuestros
      servidores.
    </span>
  </div>

  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm text-white dark:text-white sm:mt-0 font-bold"
    >
      <li>
        <p class="me-4 md:me-6">
          Esto es un clon de la famosa pagina AnimeFLV realizada con fines
          educativos; Si eres el propietario de la pagina original y deseas que
          retiremos este clon, por favor contactame:
          <a
            href="mailto:jdgp7580@gmail.com"
            class="hover:underline text-blue-400">Contacto</a
          >
        </p>
      </li>
    </ul>
  </div>
</footer>
